<div class="box">
  <div>
    <h2>Produtos</h2>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="navigate()">
      Loja
    </button>
  </div>
    <table mat-table class="full-width-table" aria-label="Elements">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>
      <ng-container matColumnDef="foto">
        <th mat-header-cell *matHeaderCellDef>Foto</th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.fotoBase64" style="max-width: 100px; max-height: 100  px;">
        </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let row">{{ row.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let row">{{ row.preco }}</td>
      </ng-container>

      <ng-container matColumnDef="dtCriacao">
        <th mat-header-cell *matHeaderCellDef>Data Criação</th>
        <td mat-cell *matCellDef="let row">
          {{
            row.dtCriacao
              ? row.dtCriacao.slice(0, 10).split("-").reverse().join("/")
              : "-"
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" style="display: flex; justify-content: center;">
          <button
            mat-mini-fab
            color="warn"
            aria-label="Excluir produto"
            (click)="delete(row.id)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
           <button
            mat-mini-fab
            color="primary"
            aria-label="Excluir produto"
            (click)="editar(row.id)"
          >
            <mat-icon>mode_edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
   <mat-paginator
    #paginator
    [length]="totalElements"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (page)="change($event)"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
