<div class="box">
  <div>
    <h2>Loja</h2>
  </div>
  <button mat-raised-button color="primary" (click)="navigate();createForm.resetForm()">Produtos</button>
  <div mat-dialog-content class="form-loja">
    <!-- Form for creating a new Loja -->
    <form #createForm="ngForm" (ngSubmit)="cadastrar(lojaName.value); createForm.resetForm()">
  <mat-form-field>
    <input
      matInput
      placeholder="Adicionar loja"
      name="lojaName"
      ngModel
      required
      #lojaName="ngModel"
    />
    <mat-error *ngIf="lojaName.invalid && lojaName.touched">
      Loja name is required
    </mat-error>
  </mat-form-field>
  <button mat-button color="primary" [disabled]="createForm.invalid">Criar loja.</button>
</form>
  </div>
  <table mat-table class="full-width-table" aria-label="Elements">
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Loja</th>
      <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="dtCriacao">
      <th mat-header-cell *matHeaderCellDef>Data Criação</th>
      <td mat-cell *matCellDef="let row">
        {{
          row.dtCriacao
            ? row.dtCriacao.slice(0, 10).split("-").reverse().join("/")
            : "-"
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="acao">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" >
        <button
          mat-mini-fab
          color="primary"
          aria-label="Excluir produto"
          (click)="cadastrarNovoProduto(row.lojaId)"
        >
          <mat-icon>plus_one</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          aria-label="Excluir produto"
          (click)="deleteStore(row.lojaId)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="totalElements"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (page)="change($event)"
    [pageSizeOptions]="[5, 10, 20]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
